/*  
Name: Cherry Blossom v1.0
Designer: Raincity Studios (Mark Yuasa)
Drupal theme: Raincity Studios (Richard Eriksson)
URL: http://raincitystudios.com
Date Started: 2004/09/04
Date Changed: 2009/01/19
Known Issues:
  - Description must not exceed a certain length or 
    disasterous wrapping will occur
  - Absolutely positioned Marquee will undoubtedly misalign
    in certain browsers
  - Content length must exceed Sidebar length by approx 300px
  - Images in Content shouldn't exceed 480px in width
*/

/* Begin Typography & Colors */

body {
  font-size: 62.5%; /* Resets 1em to 10px */
  font-family: 'georgia', times, Serif;
  color: #222;
}

#headerimg h1 {
  width: 100%;
  margin: 0;
}

#headerimg .description {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
}

#content {
  font-size: 1.3em
}

.narrowcolumn .entry, .widecolumn .entry {
  line-height: 1.4em;
}

#footer {
  background: transparent;
}

small {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 0.9em;
  line-height: 1.5em;
}

h2, h3, .post small {
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
  font-weight: bold;
}

h1 {
  font-size: 4em;
  letter-spacing: .1em;
  width: 530px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h1, h1 a, h1 a:hover, h1 a:visited {
  text-decoration: none;
  font-weight: normal;
  color: white;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited, #sidebar a {
  color: #F00088; /* FB99AD */
}

#sidebar h2 {
  font-family: 'georgia', times, Serif;
  font-size: 1.6em;
  padding-bottom: 105px  ;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2,  cite {
  color: #FB99AD; 
  text-decoration: none;
}

.description {
  font-size: 1em;
        padding: 5px;
  text-align: left;
}

.entry p a:visited {
  color: #b85b5a;
}

#sidebar {
  font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

small, #sidebar ul li, #sidebar ol li, .nocomments, blockquote, strike {
  color: #777;
}
  
code {
  font: 1.1em 'Courier New', Courier, Fixed;
}

acronym, abbr, span.caps
{
  font-size: 0.9em;
  letter-spacing: .07em;
}

a, ul.pager li a { 
  color: #DE4FAD;
  text-decoration: none;
}

a:hover {
  color: #b85b5a;
  text-decoration: underline;
}
  
/* End Typography & Colors */


/* Begin Structure */
body {
  margin: 0;
  padding: 0; 
  background: #F9F7FA url(i/background.gif) repeat-x bottom;
}

#page {
  background: transparent url(i/narrow_bg.gif) repeat-y left;
  margin: 0 auto;
  padding: 0;
  width: 760px;
}
  
#header {
  color: #F00088;
  padding: 0;
  margin: 0;
  height: 230px;
  background: transparent url(i/header_bg.gif) no-repeat right top;
}

.narrowcolumn, .widecolumn {
  float: left;
  padding: 0 40px 20px 45px;
  margin-left: 0;
  width: 435px;
}

.post {
  margin: 0 0 40px;
  letter-spacing: .01em;
  line-height: 1.6em;
  padding-bottom: 60px;
  background: url(i/post_foot.gif) no-repeat bottom;
}

.post small {
  font-size: 1.1em;
  line-height: 1.8em;
  color: #DE4FAD;
}
  
.widecolumn .post {
  margin: 0;
}

.narrowcolumn .postmetadata {
  padding-top: 5px;
  text-align: center;
}

.widecolumn .postmetadata {
  margin: 30px 0;
}
  
#footer {
  clear: both;
  padding-bottom: 140px;
  width: 530px;
  background: transparent url(i/footer_bg.jpg) no-repeat left bottom;
}

#footer p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
/* End Structure */



/*  Begin Headers */
h1 {
  padding: 0;
  margin: 0;
}


h2 {
  margin: 30px 0 0;
}

#sidebar h2 {
  margin: 5px 0 0;
  padding: 0;
}

h3 {
  padding: 0;
  margin: 30px 0 0;
}

h3.comments {
  padding: 0;
  margin: 40px auto 20px ;
}
/* End Headers */



/* Begin Images */
p img {
  padding: 0;
}
  
#content img {
  margin: 5px 0;
  padding: 5px;
  border: 1px outset #888;
}

/*  Using 'class="alignright"' on an image will (who would've
  thought?!) align the image to the right. And using 'class="centered',
  will of course center the image. This is much better than using
  align="center", being much more futureproof (and valid) */
  
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.alignright {
  float: right;
}
  
.alignleft {
  float: left;
}

/* End Images */

/* Begin Lists

  Special stylized non-IE bullets
  Do not work in Internet Explorer, which merely default to normal bullets. 
*/

html>body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: none;
  padding-left: 10px;
  text-indent: -10px;
} 

html>body .entry li {
  margin: 7px 0 8px 10px;
}

.entry ul li:before, #sidebar ul ul li:before {
  content: "\00BB \0020";
}

.entry ol {
  padding: 0 0 0 35px;
  margin: 0;
}

.entry ol li {
  margin: 0;
  padding: 0;
}

ul.pager {
  padding: 25px 0;
}

ul.pager li {
  padding: 0;
  margin: 0;
}



/* End Lists */
  
/* Begin Sidebar */

#sidebar {
  padding: 10px 3em 30px 3em;
  margin-left: 526px;
  background: transparent url(i/sidebar_btm.gif) no-repeat left bottom;
}
  
#sidebar form, #sidebar ul, #sidebar ul ol {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style: none;
  margin-bottom: 15px;
}

#sidebar ul p, #sidebar ul select {
  margin: 5px 0 8px;
}

#sidebar ul ul, #sidebar ul ol {
  margin: 5px 0 0 10px;
}

#sidebar ul ul ul, #sidebar ul ol {
  margin: 0 0 0 10px;
}

ol li, #sidebar ol li {
  list-style: decimal outside;
}

#sidebar ul li, #sidebar ol li {
  margin: 3px 0 0;
  padding: 0;
}
/* End Entry Lists */

/* Begin Form Elements */

#sidebar #searchform {
  position: absolute;
  top: 10px;
  margin-left: -10px;
  padding: 5px 3px; 
}

#sidebar #searchform #s {
  width: 130px;
  padding: 5px;
  background: transparent url(i/search_bg.gif) no-repeat left top;
  border: 0;
}

#sidebar #searchsubmit {
  display: inline;
  margin-left: 5px; 
  padding: 1px;
}

.entry form { /* This is mainly for password protected posts, makes them look better. */
  text-align:center;
}

select {
  width: 100%;
}

/* End Form Elements */

/* Begin Comments*/

#comments { 
  position: relative;
  border-bottom: 1px solid #e9eff3;

  padding: 0 25px;
}

#comments h2.comments {
  padding: .5em 25px;
}

.comment {
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}

.comment .picture { 
  float: left;
  padding: 0px 5px;
}

.indented {
  margin-left: 25px;
}

.comment h3 a.active {
  color: #494949;
}

.comment .content {
  margin: 0.6em 0;
}

/* End Comments */

/* Begin Various Tags & Classes */

acronym, abbr, span.caps {
  cursor: help;
 }

acronym, abbr {
  border-bottom: 1px dashed #999;
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}

blockquote cite {
  margin: 5px 0 0;
  display: block;
}

.center {
  text-align: center;
}

hr {
  display: none;
}

#content a img {
  border: none;
}

.narrowcolumn .navigation {
  padding-bottom: 30px;
  border-bottom: 1px dotted #bbb;
}

/* End Various Tags & Classes*/

/* Added Divs and Content */

#marquee {
  position: absolute;
  top: 77px;
  margin-left: 10px;
}

#info {
  position: absolute;
  top: 100px;
  margin-left: 530px;
  padding: 0px 5px;
  color: white;
  font-size: 13px;
  width: 185px;
}

#info ul {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

#info ul li, #syndicate li {
  list-style: none;
  padding-right: 5px;
  display: inline;
}

#info a:link,#info a:visited {
  color: #F9F7FA;
  padding-left: 12px;
  background: transparent url(i/link.gif) no-repeat left;
}

#info h2 {
  color: #F9F7FA;
}

#info ul ul li {
  display: inline;
}

#syndicate {
  position: absolute;
  top: 50px;
  margin-left: 560px;
  display: inline;
}

#syndicate a {
  padding: 5px 30px 5px 10px;
  background: url(i/rss_button.gif) no-repeat right; 
  color: white;
}

#aggregator .description 
{
 font-size: 1em;
 text-align: left;
}

#aggregator .news-item .description {
 width: 400px;
} 

#aggregator .news-item .body {
  padding-bottom: 60px;
  background: url(i/post_foot.gif) no-repeat bottom;
}

*html #info li {
  font-size: 120%;
}
* html #info ul {
  margin-left: 10px;
}
* html #info ul li ul {
  margin: 0px;
}
* html #info ul li {
  margin-bottom: 0px;
}
* html .navigation .alignleft {
float: none;
clear: both;
}
* html .navigation .alignright {
clear: both;
 float: none;
}

#info a:visited {
  color: #DDDDDD;
}

#content .sticky {
 padding: 10px;
 background-color: #FFCCFF;
 border: 1px dotted #FF00FF;
 margin-top: 15px;
 background-image: none;
}

#content .sticky h2 {
  padding: 0px;
  margin: 0px;
}
.messages {
  border-style: dashed;
  border-width: 1px;
  background-color: #EEEEEE;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 5px;
}

ul.tabs {
  margin-top: 15px;
}

textarea.textarea {
  width: 500px;
}
.book .nav { display: none; }

.form-item .description {
  font-size: 1em;
  width: 100%;
  text-align: left;
}

#blocks select {
  width: 50px;
}

.taxonomy-term-description {
  margin-top: 15px;
  padding: 5px;
  background-color: #FFBBFF;
  background-image: none;
  text-align: left;
  font-size: 1.1em;
  border: 1px black dotted;
  width: 400px;
}
